<%inherit file="/mainpage/templates/base.htm" />


<%block name="header">
    Edit Account Information
</%block>

<%block name="content">
    
    <form method="POST">
        <table>
            ${form}
        </table>
        <div style="margin-top:15px;">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" type="cancel">Cancel</button>
        </div>
    </form>
    
   

</%block>