<%inherit file="/mainpage/templates/base.htm" />

<%block name="header">
    My Account
</%block>


<%block name="content">
	<div class="clearfix"></div>
    <div class = "text-left">
    </div>
    <div>
        <table id='user_table'>
            <tr>
                <th>ID:  </th>         
                <td>${user.id}</td>
            </tr>
            <tr>
                <th>User Name:  </th>
                <td>${user.username}</td>
            </tr>
            <tr>
                <th>First Name:  </th>    
                <td>${user.first_name}</td>
            </tr>
            <tr>
                <th>Last Name:  </th>
                <td>${user.last_name}</td>
            </tr>
            <tr>
                <th>Email:  </th>
                <td>${user.email}</td>
            </tr>
            <tr>
                <th>Security Question:  </th>
                <td>${user.security_question}</td>
            </tr>
            <tr>
                <th>Security Answer:  </th>
                <td>${user.security_answer}</td>
            </tr>
            <tr>
                <th>Last Login:  </th>
                <td>${user.last_login}</td>
            </tr>
            <tr>
                <a class="btn btn-warning" href="/account/myaccount.edit/${user.id}">Edit</a>
                <a class="btn btn-primary" href="/account/myaccount.changepassword/${user.id}">Change Password</a>
            </tr>

        </table>
    </div>

    
</%block>



<table id='user_table' class='table table-striped table-border table-condensed'>
        <tr>
            <th>ID:</th>
            <th>User Name:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Email:</th>
            <th>Phone:</th>
            <th>Last Login:</th>
            <th></th>
        </tr>
        %for user in users:
            <tr>
                <td>${user.id}</td>
                <td>${user.username}</td>
                <td>${user.first_name}</td>
                <td>${user.last_name}</td>
                <td>${user.email}</td>
                <td>${user.last_login}</td>
                <td><a href="/mainpage/user.edit/${user.id}">Edit</a></td>
            </tr>
        %endfor
    </table>