<%inherit file="/mainpage/templates/base.htm" />


<%block name="header">
    Create Account
</%block>

<%block name="content">
    
    <form method="POST">
        <table>
            ${form}
        </table>
        <div style="margin-top:15px;">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="/account/signup.delete/${user.id}/" class="btn btn-danger">Cancel</a>
        </div>
    </form>
    
   

</%block>