
/*------------------------------RENTABLE ITEM LISTS------------------------------*/
main[role="main"], .product .product-description {
  *zoom: 1;
}
main[role="main"]:after, .product .product-description:after {
  content: '';
  display: table;
  clear: both;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.pro_description {
  margin: 0 0 30px;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #31353d;
  margin: 0;
}


abbr {
  cursor: help;
}



img {
  max-width: 100%;
}

figure {
  margin: 0;
  line-height: 0;
}

main[role="main"] {
  max-width: 500px;
  margin: 20px auto;
  position: relative;
}

.product {
  background: #fff;
  max-width: 300px;
  position: relative;
  z-index: 15;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.product .product-description {
  position: relative;
  z-index: 15;
  background: #fff;
  border-top-style: solid;
  border-width: 1px;
  border-color: gray;
}
.product .product-description .info {
  padding: 15px;
  color: #aaa;
  font-size: 0.85em;
  width: 75%;
  float: left;
}
.product .product-description .info h2 {
  font-size: 20px;
  margin: 0 0 5px;
}
.product .product-description .info p {
  margin-bottom: 15px;
  line-height: 1.3em;
}
.product .product-description .price {
  width: 25%;
  float: left;
  color: orange;
  font-size: 2.0em;
  position: relative;
  margin-top: 23px;
}
.product .product-description .price::before {
  content: '$';
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 0.55em;
}

input[type="number"] {
   width:30px;
}