.product_info {
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 12px;
	margin: 12px;
	vertical-align: middle;
	text-align: center;
}

#product_img {
	max-height: 150px;
	max-width: 90px;
}

.cust_info {
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 12px;
	margin: 12px;
	max-height: 750px;
	max-width: 600px;
}

#pmt_info{
	display: inline-table;
}