.wrapper {
	display: inline;
}

.pic_container {
	display: inline-block;
	padding: 12px;
	margin: 12px;
	vertical-align: middle;
	text-align: center;
}

.detail_container {
	display: inline-block;
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 12px;
	margin: 12px;
	vertical-align: middle;
	text-align: center;
	width: 350px;
    height: 300px;
}

.detail_container > a > img {
	max-height: 200px;
	max-width: 130px;
}