## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    
    <meta name="description" content="The Colonial Heritage Foundation is a non-profit corporation dedicated to the preservation of the values, culture, skills and history of America." />
    <meta name="keywords" content="colonial, heritage, foundation, history, nonprofit, rental, festival" />
    <meta name="author" content="Leo Enkhbaatar">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <title>Colonial Heritage Foundation</title>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui-min.js"></script>
    <script src="${ STATIC_URL }mainpage/media/jquery.form.js"></script>
    <script src="${ STATIC_URL }mainpage/media/jquery.loadmodal.js"></script>
    <script src="${ STATIC_URL }mainpage/scripts/index.js"></script>
  

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/x-icon" href="${ STATIC_URL }mainpage/media/favicon.jpg" />
    
    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }
  
  </head>
  
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          
            <div class="navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <a class="navbar-brand" href="/mainpage/index/">Colonial Heritage Foundation</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/mainpage/catalog/">Catalog</a></li>
                <li><a href="/mainpage/rental/">Rental</a></li> 
                %if request.user.is_superuser:               
                <li><a href="/mainpage/user/">User</a></li>
                %endif
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/mainpage/event/">Event</a></li>
                    <li><a href="/mainpage/publicevent/">Public Event</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
                %if request.user.is_authenticated():
                  <li><p class="pull-right userFullName" > Welcome, ${request.user.get_full_name()} </p></li>
                  <li><a href="/account/myaccount/${user.id}"><i class="fa fa-user"></i>  My Account</a></li>
                  <li><a  href="#" id="cart_dialog"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>           
                  <li><a href="/mainpage/index.logout/"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
                %else:
                  <li><a href="/account/signup.create/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="" id="signin_btn" data-toggle="modal" data-target="#login_modal"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                %endif   
              </ul>
            </div>
        </div>
      </div><!-- /container -->
    </div><!-- /navbar wrapper -->

    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="${ STATIC_URL }mainpage/media/flag3.jpg" style="width:100%" class="img-responsive">
          <div class="container">
            <div class="carousel-caption">
              <h1>Events</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="/mainpage/event/">Learn More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- /Login Modal -->
    <div id="login_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h1 class="text-center">Login</h1>
          </div>
          <div class="modal-body">
           <!-- Django Form Fills the Body Here -->
          </div>
        </div>
      </div>
    </div>


    <body id="body">
    
      <div class="wrapper">
        <header id="header">
          <%block name="header">

          </%block>
        </header>

        <div id="content">
          <%block name="content">
            Site content goes here in sub-templates.
          </%block>  
        </div>
      </div>

      <div id="footer">
        <%block name="footer">
            <div class="col-md-offset-5">
              <ul class="nav navbar-nav">
                <li><a href="">Contact</a></li>
                <li><a href="">Terms</a></li>
              </ul>
            </div>
        </%block>
      </div>
      ## render the JS with the same name as this page
      ${ static_renderer.get_template_js(request, context)  }

    </body>
  
</html>