<%inherit file="base.htm" />

<%block name="header">
    <h2>Late Rentals</h2>
</%block>

<%block name="content">
    <h3>Over due by 30-60 days</h3>
   <table id="user_table" class="table admin_table table-bordered">
        <tr>
            <th>ID</td>
            <th>Rental Time</td>
            <th>Due Date</td>
            <th>Overdue Days</td>
            <th>Agent</td>
            <th>Customer</td>
            <th>Send Overdue Email</td>
        </tr>
        %for six in sixty:
        <tr>
            <td>${ six.id }</td>
            <td>${ six.rentalTime }</td>
            <td>${ six.dueDate }</td>
            <td>${today - six.dueDate }</td>
            <td>${ six.agent.first_name + " " + six.agent.last_name}</td>
            <td>${ six.customer.first_name + " " + six.customer.last_name}</td>
            <td><a href="/mainpage/batchprocess.send_email/${ six.customer_id }" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-envelope"></span> Notify Customer</a>
        </tr>
        %endfor
   </table>
    <h3>Over due by 60-90 days</h3>
   <table id="user_table" class="table admin_table table-bordered">
        <tr>
            <th>ID</td>
            <th>Rental Time</td>
            <th>Due Date</td>
            <th>Overdue Days</td>
            <th>Agent</td>
            <th>Customer</td>
            <th>Send Overdue Email</td>
        </tr>
        %for nine in ninety:
        <tr>
            <td>${ nine.id }</td>
            <td>${ nine.rentalTime }</td>
            <td>${ nine.dueDate }</td>
            <td>${today - nine.dueDate }</td>
            <td>${ nine.agent.first_name + " " + nine.agent.last_name}</td>
            <td>${ nine.customer.first_name + " " + six.customer.last_name}</td>
            <td><a href="/mainpage/batchprocess.send_email/${ nine.customer_id }" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-envelope"></span> Notify Customer</a>
        </tr>
        %endfor
    </table>
    <h3>Over due by 90+ days</h3>
   <table id="user_table" class="table admin_table table-bordered">
        <tr>
            <th>ID</td>
            <th>Rental Time</td>
            <th>Due Date</td>
            <th>Overdue Days</td>
            <th>Agent</td>
            <th>Customer</td>
            <th>Send Overdue Email</td>
        </tr>
        %for ninet in ninety_plus:
        <tr>
            <td>${ ninet.id }</td>
            <td>${ ninet.rentalTime }</td>
            <td>${ ninet.dueDate }</td>
            <td>${today - ninet.dueDate }</td>
            <td>${ ninet.agent.first_name + " " + ninet.agent.last_name}</td>
            <td>${ ninet.customer.first_name + " " + ninet.customer.last_name}</td>
            <td><a href="/mainpage/batchprocess.send_email/${ ninet.customer_id }" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-envelope"></span> Notify Customer</a>
        </tr>
        %endfor
    </table>

    <div class="clearfix"></div>
    <div class="text-right">
        <a href="/mainpage/rental/" class="btn btn-primary">Back To Rentals</a>
    </div>&nbsp;

</%block>