<%inherit file="base_ajax.htm" />

<%block name="content">	

<table class="table table-striped table-bordered">
	<tr>
		<th>Product</th>
		<th>QTY</th>
		<th>Price</th>
		<th>Subtotal</th>
		<th>Action</th>
	</tr>

	<% grandTotal = 0%>

	%for key, value in currentCart.items():
		<%
			price = float(value[0].unitPrice)
			qty = value[1]
			sub_total = (price * qty)
			grandTotal += sub_total
		%>
		<tr>
			<td>${ value[0].name }</td>
			<td>${ value[1] }</td>
			<td>$ ${ value[0].unitPrice }</td>
			<td>$ ${ sub_total }</td>
			<td><button data-pid="${ value[0].id }" class="btn_removefromcart btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
		</tr>
	%endfor
		<tr>
			<td>Total:</td>
			<td></td>
			<td></td>
			<td></td>
			<td>$ ${ grandTotal }</td>
		</tr>
	</table>
	<div class="text-center">
	<a href="/mainpage/catalog.checkout/${ grandTotal }" class="btn btn-warning">Checkout</a>

</%block>








