<%inherit file="base.htm" />

<%block name="content">

	<h1 align="center">${ individualproduct.name }</h1>
	</br>
	<div class="item_container text-center">
	<a href="/homepage/catalog.detail_individualproduct/${ individualproduct.id }/"><img src=${ STATIC_URL }/homepage/media/${individualproduct.picture}></a>&nbsp;

	 	<div class="IPPrice_container">
	 		$ ${ individualproduct.price }
	 	</div>
	 	<div class="IPDescription_container">
	 		 ${ individualproduct.description }
	 	</div>
	 	<div class="IPDateMade_container">
	 		&nbsp;
	 		<p>Date Made</p>
	 		${ individualproduct.dateMade }
	 	</div>
	 	&nbsp;
	 	<div class="clearfix"></div>
	 	Qty: <input type="number" class="QTY">
	  <button data-pid=${ individualproduct.id } class="btn_addtocart btn btn-warning">Add To Cart</button>
	</div>&nbsp;

    
	<div id='div1' class="text-right">
		<a href="/homepage/catalog/" class="btn btn-primary">Back To Catalog</a>
	</div>&nbsp;
</%block>