<%inherit file="base.htm" />

<%block name="content">
	<h1 align="center">Online Catalog</h1>

	<div class="text-right">
		Search Products: <input type="search" id="searchProducts"/>
	</div>
	</br>
	<h3>Products</h3>

	%for product in products:
		<div class="col-xs-18 col-sm-4 col-md-3">
			<main role="main">
				<div class="product">
					<figure>
						<img src="${ STATIC_URL }mainpage/media/${product.pictureFileName}" alt="Product Image" class="product-image">
					</figure>

					<div class="product-description">

						<div class="info">
							<h2>${product.name}</h2>
							<p class="pro_description">
								${product.description}
							</p>
							<div class="text-right">
								Quantity: <input id='#input1' type="number" class="QTY" min="1" max="${ product.qtyOnHand }" value="1">
								<button data-pid= ${ product.id } class="btn_addtocart btn btn-xs btn-warning"><i class="fa fa-cart-plus fontsize16"></i> ADD</button> 
							</div>
						</div>

						<div class="price">
							${product.unitPrice}
						</div>
					</div>
				</div>
			</main>
		</div>
	%endfor

</%block>
