<%inherit file="base.htm" />

<%block name="content">

	<h2 align="center">Checkout</h2>

	<form method="POST" align="center">
	 <table style="margin: 0px auto;">
	 ${ form }
 	 </table>
 	 <br>
 	 <button type="submit" class="btn btn-warning">Submit</button>
 	 <a href="/mainpage/" class="btn btn-danger">Cancel Order</a>
 	</form>	

</%block>