<%inherit file="base.htm" />

<%block name="content">

	<h1 align="center">${ product.name }</h1>
	</br>
	<div class="item_container text-center">
	<a href="/mainpage/catalog.detail_product/${ product.id }/"><img src="${ STATIC_URL }mainpage/media/${product.pictureFileName}"/></a>&nbsp;

	 	<div class="Price_container">
	 		$ ${ product.unitPrice }
	 	</div>
	 	<div class="Description_container">
	 		 ${ product.description }
	 	</div>&nbsp;
	 	<div class="clearfix"></div>
	 	Qty: <input type="number" class="QTY">
	  <button data-pid=${ product.id } class="btn_addtocart btn btn-warning">Add To Cart</button>
	</div>&nbsp;

    
	<div id='div1' class="text-right">
		<a href="/mainpage/catalog/" class="btn btn-primary">Back To Catalog</a>
	</div>&nbsp;
</%block>
