<%inherit file="base.htm" />
<%block name="header">
	Check Out
</%block>


<%block name="content">
	<h2>Item Info</h2>
	<div class="wrapper">
	        <img src="${ STATIC_URL }mainpage/media/${product.picture}"/> 
	        <div class="detail_container">
	            <h3>${product.name}</h3>
	            <div class="text-muted text-left">
	            Description: ${product.description}
	            </div>
	            <div class="text-muted text-left">
	            Category: ${product.category}
	            </div>
	            <div class="text-left">
	            Price:      $${product.unitPrice}
	            </div>
			</div>                
	    </div>
		</div>
		<h2>Customer Info</h2>
		<div class="cust_info">
			<h2>Payment Info</h2>
			<div id="pmt_info" class="text-left">
				<div>
				<label>First Name</label>
				<input type="text" size="20" autocomplete="off">
				<div>
				<label>Last Name</label>
				<input type="text" size="20" autocomplete="off">
				</div>
				</div>
				<div>
				<label>Card Number</label>
				<input type="text" size="20" autocomplete="off">
				</div>
				<div>
				<span>Enter the number without spaces or hyphens.</span>
				</div>
				<div>
				<label>CVC</label>
				<input type="text" size="4" autocomplete="off">
				</div>
				<div>
				<label>Expiration (MM/YYYY)</label>
				<input type="text" size="2">
				<span> / </span>
				<input type="text" size="4">
				</div>
				<a href=""><img alt="" title="" src="${ STATIC_URL }mainpage/media/card.png/" width="500" height="100" border="0" /></a>

				<div>
					<a type="button" href="/mainpage/catalog/" class="btn btn-default pull-right">Cancel</a>
					<a type="button" href="/mainpage/catalog.send_email/" class="btn btn-success pull-right margin-right">Submit</a>
				</div>
			</div>

		</div>
	</div>
</%block>