<%inherit file="base.htm" />

<%block name="content">
	<div>
		<h2 align="center">${ event.mapName }: ${event.startDate} ~ ${event.endDate}</h2>
		<h3>${event.description}</h3>
	</div>
	</br>
	%for area in areas:

	<div class="item_container text-center">
	<a href="/mainpage/event.info/${ event.id }/"><img src="${ STATIC_URL }mainpage/media/${area.pictureFileName}"/></a>&nbsp;

	 	<div class="Price_container">
	 		 ${ area.name }
	 	</div>
	 	<div class="Description_container">
	 		 ${ area.description }
	 	</div>&nbsp;

	 	%for sale in sales:
	 	<a href="#"><img src="${ STATIC_URL }mainpage/media/${sale.pictureFileName}"/></a>&nbsp;

	 	<div class="Price_container">
	 		 ${ sale.name }
	 	</div>
	 	<div class="Description_container">
	 		 ${ sale.description }
	 	</div>
	 	<div>
	 		 ${ sale.lowPrice } ~ ${ sale.highPrice }
		</div>	 		
	 	&nbsp;

	 	<div class="clearfix"></div>
	 	Qty: <input type="number" class="QTY">
	  <button data-pid=${ event.id } class="btn_addtocart btn btn-warning">Add To Cart</button>
	</div>&nbsp;
		%endfor
	%endfor

    
	<div id='div1' class="text-right">
		<a href="/mainpage/event/" class="btn btn-primary">Back To Catalog</a>
	</div>&nbsp;
</%block>
