<%inherit file="base.htm" />

<%block name="header">
    Events
</%block>


<%block name="content">
	<div class="clearfix"></div>
    <div class = "text-left">
    	<a href="/mainpage/event.create/" class="btn btn-success btn-lg">Create a New Event</a>
    
    </div>

    <table class='table table-bordered admin_table'>
    	<tr>
    		<th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Map</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
    	</tr>
    	%for event in events:
    		<tr>
    			<td>${event.id}</td>
                <td>${event.name}</td>
                <td>${event.description}</td>
                <td><a href="/mainpage/event.info/${ event.id }/">${ event.mapName }</a></td>
                <td>${event.startDate}</td>
                <td>${event.endDate}</td>
    			<td><a href="/mainpage/event.edit/${event.id}">Edit</a></td>
    		</tr>
    	%endfor
    </table>
</%block>