<%inherit file="base_ajax.htm" />


<%block name="content">
	<form id = "logform" method = "POST" action = "/mainpage/index.loginform/">
		<table>
			${form}
		</table>
		<div><a href="/password_reset/">Forgot Your Password?</a></div>
		<div>
			<input type="submit" class="btn btn-success" value=" Login "/>
			<a href="/account/signup.create/" class="btn btn-primary">Sign Up</a>
	    </div>
	</form>
</%block>