<%inherit file="base.htm" />

<%block name="header">
    Partcipants
</%block>


<%block name="content">
	<div class="clearfix"></div>
    <div class = "text-left">
    	<a href="/mainpage/participant.create/" class="btn btn-success btn-lg">Create a New participant</a>
    	
    </div>

    <table id='user_table' class='table table-striped table-border table-condensed'>
    	<tr>
    		<th>ID</th>
    		<th>Sketch</th>
    		<th>Contact</th>
    		<th>Role Name</th>
            <th>Role Type</th
            <th>Actions</th>
    	</tr>
    	%for participant in participants:
    		<tr>
    			<td>${participant.id}</td>
    			<td>${participant.sketch}</td>
    			<td>${participant.contactRel}</td>
    			<td>${participant.roleName}</td>
                <td>${participant.roleType}</td>
    			<td><a href="/mainpage/participant.edit/${participant.id}">Edit</a></td>
    		</tr>
    	%endfor
    </table>
</%block>