<%inherit file="base.htm" />


<%block name="header">
    Edit Participant Information
</%block>

<%block name="content">
    
    <form method="POST">
        <table>
            ${form}
        </table>
        <div style="margin-top:15px;">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="/mainpage/participant.delete/${participant.id}/" class="btn btn-danger">Delete participant</a>
            <button class="btn btn-default" type="cancel">Cancel</button>
        </div>
    </form>
    
   

</%block>






        % for field in form:
            <div class="form-group">
                <label for=${field.name}>${field.name}</label>
                ${field}
            </div>
        %endfor 