<%inherit file="base.htm" />

<%block name="header">
    Photographs
</%block>


<%block name="content">
	<div class="clearfix"></div>
    <div class = "text-left">
    	<a href="/mainpage/photograph.create/" class="btn btn-success btn-lg">Create a New photograph</a>

    </div>

    <table id='user_table' class='table table-striped table-border table-condensed'>
    	<tr>
    		<th>ID</th>
            <th>Date Taken</th>
            <th>Place</th>
            <th>Image</th>
            <th>Actions</th>
    	</tr>
    	%for photograph in photographs:
    		<tr>
    			<td>${photograph.id}</td>
                <td>${photograph.dateTaken}</td>
                <td>${photograph.placeTaken}</td>
                <td>${photograph.image}</td>
    			<td><a href="/mainpage/photograph.edit/${photograph.id}">Edit</a></td>
    		</tr>
    	%endfor
    </table>
</%block>