<%inherit file="base.htm" />

<%block name="header">
    Products
</%block>


<%block name="content">
    <div class="clearfix"></div>
        
        <div class="text-right">
            Search Products: <input type="search" id="searchProducts"/>
        </div>

        %for product in products:
            <div class="item_container">
                <div class="product_info">
                    <a id="img" href="/mainpage/product.productdetail/${product.id}">
                        <img src="${ STATIC_URL }mainpage/media/${product.picture}"/>
                        <h3>${product.name}</h3>
                        <div class="text-muted text-left">
                        Description: ${product.description}
                        </div>
                        <div class="text-muted text-left">
                        Category: ${product.category}
                        </div>
                        <div class="text-left">
                        Price:      $${product.unitPrice}
                        </div>
                    </a>
                </div>    

                <div class="product_btns">
                        Qty: <input id='#input1' type="number" class="QTY">
                        <button data-pid="${ product.id }" class="btn_addtocart btn btn-xs btn-warning">Add To Cart</button> 

                        <button data-pid="${product.id}" class="add_btn btn btn-md btn-success">Add To Cart</button>            
                        <a href="/mainpage/product.productdetail/${product.id}" class=" btn btn-md btn-primary"> Info</a>            
                        <a href="/mainpage/product.checkout/${product.id}" class=" btn btn-md btn-warning">Buy Now</a>            
                </div>
            </div>  
        %endfor
</%block>


<form method="get" action="/mainpage/product.search/">
            <label for="id_q">Search:</label>
            <input type="text" name="q" id="id_q"/>
            <input type="submit" value="Submit"/>
            <li> {{ found_entries }}}</li>
        </form>