<%inherit file="base.htm" />
%if user and user.is_anonymous():

<%block name="header">
    Edit Product Information
</%block>

<%block name="content">
    
    <form method="POST">
        <table>
            ${form}
        </table>
        <div style="margin-top:15px;">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="/mainpage/product.delete/${product.id}/" class="btn btn-danger">Delete</a>
            <button class="btn btn-default" type="cancel">Cancel</button>
        </div>
    </form>
    
   

</%block>

%endif