<%inherit file="base.htm" />

<%block name="header">
    ${product.name}
</%block>


<%block name="content">
    <div class="wrapper">
        <div class="pic_container">
            <img src="${ STATIC_URL }mainpage/media/${product.picture}"/> 
        </div>   
        <div class="detail_container">
            <h3>${product.name}</h3>
            <div class="text-muted text-left">
            Description: ${product.description}
            </div>
            <div class="text-muted text-left">
            Category: ${product.category}
            </div>
            <div class="text-left">
            Price:      $${product.unitPrice}
            </div>
            <div class="text-right">
                <button data-pid="${product.id}" class="add_btn btn btn-md btn-primary">Add To Cart</button>
                <a href="/mainpage/product.checkout/${product.id}" class=" btn btn-md btn-warning">Buy Now</a>            
            </div>
        </div>                
    </div>
</%block>