<%inherit file="base.htm" />

<%block name="header">
   Public Event
</%block>


<%block name="content">
	<div class="clearfix"></div>
    <div class = "text-left">
    	<a href="/mainpage/publicevent.create/" class="btn btn-success btn-lg">Create a Public Event</a>
    </div>

    <table id='user_table' class='table table-striped table-border table-condensed'>
    	<tr>
    		<th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
    	</tr>
    	%for publicevent in publicevents:
    		<tr>
    			<td>${publicevent.id}</td>
                <td>${publicevent.name}</td>
                <td>${publicevent.description}</td>
    			<td><a href="/mainpage/publicevent.edit/${publicevent.id}">Edit</a></td>
    		</tr>
    	%endfor
    </table>
</%block>