<%inherit file="base.htm" />

<%block name="header">
    <h2>Rental Return</h2>
    
</%block>

<%block name="content">

	<form method="POST" align="center">
	 <table style="margin: 0px auto;">
	 ${ form }
 	 </table>
 	 <br>
 	 <button type="submit" class="btn btn-primary">Submit</button>
 	 <a href="/mainpage/rental/" class="btn btn-danger">Cancel</a>
 	</form>	

</%block>