<%inherit file="base.htm" />

<%block name="content">

	%if request.user.is_superuser:
	<div class="clearfix">
		<div class="text-right">
			<a href="/mainpage/rental.create/" class="btn btn-success">Create New Rental</a>
			<a href="/mainpage/batchprocess/" class="btn btn-default">Rental Report</a>	
		</div>&nbsp;

		<table class="table table-bordered admin_table">
			<tr>
			  <th>ID</th>
			  <th>Renter</th>		 
			  <th>Rental Time</th>
			  <th>Return Time</th>
			  <th>Paid Fee</th>
			  <th>Due Date</th>
			  <th>Discount Percent</th>
			  <th>Agent</th>
			  <th>Action</th>
			</tr>
			%for rental in rentals:
			<tr>
				<td>${ rental.id }</td>
				<td>${ rental.customer}</td>
				<td>${ rental.rentalTime }</td>
				<td>${ rental.returnTime }</td>
				<td>${ rental.feesPaid }</td>
				<td>${ rental.dueDate }</td>
				<td>${ rental.discountPercent }</td>
				<td>${ rental.agent }</td>
				<td>
					<a href="/mainpage/rental.edit/${ rental.id }/" class="btn btn-xs btn-warning">Edit</a>
					%if rental.returnTime  == None:
					<a href="/mainpage/rental.process_return/${ rental.id }/" class="btn btn-xs btn-primary">Return</a>
					%endif
				</td>
			</tr>
			%endfor
		</table>
	</div>
	%endif


	%for rentable in rentables:
		<div class="col-xs-18 col-sm-4 col-md-3">
			<main role="main">
				<div class="product">
					<figure>
						<img src="${ STATIC_URL }mainpage/media/rental/${rentable.pictureFileName}" alt="Product Image" class="product-image">
					</figure>

					<div class="product-description">

						<div class="info">
							<h2>${rentable.name}</h2>
							<p class="pro_description">
								${rentable.description}
							</p>
							<div> Condition: ${rentable.condition}</div>
							<div class="text-right">
								Quantity: <input id='#input1' type="number" class="QTY" min="1" value="1">
								<button data-pid = ${ rentable.id }' class="btn_add_rental_tocart btn btn-xs btn-warning"><i class="fa fa-cart-plus fontsize16"></i> ADD</button> 
							</div>
						</div>

						<div class="price">
							${rentable.standardPrice}
						</div>
					</div>
				</div>
			</main>
		</div>
    %endfor
</%block>
