<%inherit file="base.htm" />

<%block name="content">
	<h2 align="center">Overdue Rentals</h2>&nbsp;

	<div id=div1>
	<table class="table table-striped table-bordered">
		<tr>
		  <th>ID</th>
		  <th>Renter</th>
		  <th>Rental Date</th>
		  <th>Due Date</th>
		  <th>Discount Percent</th>
		  <th>Fee</th>
		  <th>Return</th>
		  <th>Agent</th>
		</tr>
	  %for rental in rentals:	  
		<tr>
		  <td>${ rental.id }</td>
		  <td>${ rental.customer}</td>
		  <td>${ rental.rentalTime }</td>
		  <th bgcolor = "#ff0000">${ rental.dueDate }</th>
		  <td>${ rental.discountPercent }%</td>
		  <td>${ rental.feesPaid }</td>
		  <td>${ rental.returnTime }</td>
		  <td>${ rental.agent }</td>
		</tr>
	  %endfor
	</table>
	</div>

	<div class="clearfix"></div>
	<div class="text-right">
		<a href="/mainpage/rental/" class="btn btn-primary">Back To Rentals</a>
	</div>&nbsp;

</%block>

