<%inherit file="base_ajax.htm" />


<%block name="content">

	<div>
		%for product in products:
            <h3>${product.name}</h3>
	            <div class="text-muted text-left">
	            Description: ${product.description}
	            </div>
	            <div class="text-muted text-left">
	            Category: ${product.category}
	            </div>
	            <div class="text-left">
	            Price:      $${product.unitPrice}
	            </div>
		    <a type="button" data-pid=${ product.id } href="/mainpage/shopping_cart.delete/${ product.id }" class="delete_btn btn-warning btn-xs">Delete</a>
		%endfor
	</div>
	<a type="button" href="/mainpage/checkout/" class="btn btn-primary">Check Out</a>

</%block>