<%inherit file="base.htm" />
<%block name="header">
	<div class="text-center">
		<h1>Thank you!</h1>
	</div> 
</%block>


<%block name="content">

	<h2 class="text-center">Order summary has been emailed to you.</h2>
	<h2 class="text-center">Please visit our website again.</h2>
</%block>