<%inherit file="base.htm" />

<%block name="header">
    Users
</%block>


<%block name="content">
	<div class="clearfix"></div>
    <div class = "text-left">
    	<a href="/mainpage/user.create/" class="btn btn-success btn-lg">Create a New User</a>
   
    </div>

    <table id='' class='table table-bordered admin_table'>
    	<tr>
    		<th>ID</th>
    		<th>User Name</th>
    		<th>First Name</th>
    		<th>Last Name</th>
    		<th>Email</th>
    		<th>Last Login</th>
    		<th>Actions</th>
    	</tr>
    	%for user in users:
    		<tr>
    			<td>${user.id}</td>
    			<td>${user.username}</td>
    			<td>${user.first_name}</td>
    			<td>${user.last_name}</td>
    			<td>${user.email}</td>
    			<td>${user.last_login}</td>
    			<td><a href="/mainpage/user.edit/${user.id}">Edit</a></td>
    		</tr>
    	%endfor
    </table>
</%block>