<%inherit file="base.htm" />


<%block name="header">
    User Account
</%block>

<%block name="content">
    
    <form method="POST">
        <table>
            ${form}
        </table>
        <div style="margin-top:15px;">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="/mainpage/user.delete/${user.id}/" class="btn btn-danger">Delete Account</a>
            <button class="btn btn-default" type="cancel">Cancel</button>
        </div>
    </form>
    
   

</%block>